---
import Base from "../layouts/Base.astro";
import TopBanner from "../components/TopBanner.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import ProblemSelectorSection from "../components/ProblemSelectorSection.astro";
import BrandPositioning from "../components/BrandPositioning.astro";
import Ingredients from "../components/Ingredients.astro";
import Benefits from "../components/Benefits.astro";
import BrewingSteps from "../components/BrewingSteps.astro";
import Products from "../components/Products.astro";
import FinalCta from "../components/FinalCta.astro";
import Footer from "../components/Footer.astro";
---
<Base>
  <TopBanner />
  <Header />
  <main>
    <Hero />
    <Products />
    <ProblemSelectorSection />
    <BrandPositioning />
    <Ingredients />
    <Benefits />
    <BrewingSteps />
    <FinalCta />
  </main>
  <Footer />
</Base>
