---
import { landing } from "../content/landing";
const { banner } = landing;
---
<div class="bg-(--color-forest-deep) text-(--color-cream) text-center text-sm py-2 px-4 font-medium">
  <span aria-hidden="true" class="mr-2">{banner.emoji}</span>
  {banner.text}
</div>
